/* BASIC STYLES HERE */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grad-custom-1 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.grad-custom-2 {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.navtitle {
    font-family: 'Manrope';
}

.title {
    font-family: 'DM Sans';
    font-size: 5rem;
    text-shadow: 0px 0px 5px black;
    position: relative;
    top: 8rem;
}

#main-container {
    min-height: 100vh !important;
}

#filter {
    min-height: 100vh;
    position: absolute;
    /* filter: blur(1.05rem);
    background-color: rgba(0, 0, 0, 0.304); */
}

.my-quotes {
    font-family: 'Manrope';
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px black;
    position: relative;
    top: 24rem;
}

.quote-author {
    opacity: 0%;
    transition: opacity ease-in-out .5s;
}

.my-quotes:hover {
    .quote-author {
        opacity: 100%;
    }
}

#clock {
    font-family: 'DM Sans';
    font-size: 4rem;
    position: absolute;
    left: 15rem;
    top: 22rem;
    text-shadow: 0px 0px 8px black;
    visibility: hidden;
}

#weather {
    font-family: 'DM Sans';
    font-size: 4rem;
    position: absolute;
    right: 15rem;
    top: 22rem;
    text-shadow: 0px 0px 8px black;
    visibility: hidden;
}

.oc-btn {
    top: 2rem;
    left: 2rem;
    width: 10rem !important;
    font-family: 'Manrope' !important;
}

#oc-btn {
    visibility: hidden;
}

#oc-btn.shown {
    visibility: visible;
}

.checkbox {
    scale: 1.5;
    margin-right: 1rem;
    margin-top: 0.7rem !important;
}

@media (max-width: 768px) {
    .title {
        font-size: 3.75rem;
    }

    .my-quotes {
        font-size: 1.75rem;
    }

    #clock {
        left: 4rem;
        font-size: 2.5rem;
    }

    #weather {
        right: 4rem;
        font-size: 2.5rem;
    }
}